<div class="input-main-cont d-flex">
	<div class="c1 w-100">
		<div class="input-cont">
			<label class="inp-label">Beneficiary's Name :</label>
			<input type="text" placeholder="-" @bind="payload.S4BeneficiaryName" />
		</div>
		<div class="input-cont">
			<label class="inp-label">LC Amount :</label>
			<div class="d-flex gap-2 w-100">
				<div>
					<label class="inp-label">Currency</label>
					<input type="text" placeholder="Currency" @bind="payload.S4Currency" />
				</div>
				<div>
					<label class="inp-label" >Figures</label>
					<input type="text" placeholder="Figures" @bind="payload.S4Figures" />
				</div>
				<div>
					<label class="inp-label" >Forex Rate</label>
					<input type="text" placeholder="Forex Rate" @bind="payload.S4ForexRate" />
				</div>
			</div>
		</div>
		<div class="input-cont">
			<label class="inp-label"></label>
			<div class="d-flex gap-2 align-items-center w-100">
				<MudCheckBox @bind-Value="Basic_CheckBox1">Tolerance on credit amount & good quantity : +/-</MudCheckBox>
				<input type="text" placeholder="-" @bind="payload.S4LCAmount" />%
			</div>
		</div>
		<div class="input-cont">
			<label class="inp-label">Item Decription :</label>
			<textarea rows="6" @bind="payload.S4ItemDescription" placeholder="(Please include Proforma, Invoice No. and date)"></textarea>
		</div>
	</div>
</div>


@code {
	[Parameter] public CreateDraftLCSectionDTO payload { get; set; } = new CreateDraftLCSectionDTO();

	public bool Basic_CheckBox1 { get; set; } = false;

}
